*/config/email.php
*/config/database.php
*/config/config.php
*/config/config.php
*/libraries/Share.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
*/uploads/*
*/system/session_files/*
